<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FinEye : Financial Reporter | FinEye.com</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}" />
</head>
<body>
<nav id="navbar">
  <div id="logo">
      <img src="static\img\logo1.png" alt="FinEye.com">
  </div>
  <ul>
      <li class="item"><a href="/">Home</a></li>
            {% if username %}
            <li><a href="/logout">Logout</a></li>
            <li class="item dropdown">
              <a href="/view_tran" class="dropbtn">Transactions</a>
              <div class="dropdown-content">
                  <a href="/transaction">Enter New</a>
                  <a href="/edit-existing_tran">Edit Existing</a>
                  <a href="/view_tran">View All</a>
              </div>
          </li>
          <li class="item">
              <a href="/report_view" class="dropbtn">Reports</a>
          </li>
          <li class="item"><a href="/reminder">Reminders</a></li>
            {% else %}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            {% endif %}
            <li class="item dropdown">
              <a href="/currency" class="dropbtn">Currency Explorer</a>
              <div class="dropdown-content">
                  <a href="/currency">View Rates</a>
                  <a href="/calc_exchange">Calculate Exchange</a>
      <li class="item"><a href="/aboutus">About Us</a></li>
  </ul>
</nav>
  {% block content %}
  <section id="home">
    <h1 class="h-primary"> Welcome to your Personal Financial Caretaker </h1>
    {% if username %}
    <p>Welcome to FinEye {{ username }}!</p>
    <p>Update your Deets!</p>
    {% if pressed %}
    <div class="record">
      <div class="record-item">Net Balance</div>
    </div>
    <div class="record">
      <div class="record-item">{{ balance }}</div>
    </div>
    {% else %}
    <form action="/show_balance" method="post">
      <button type="submit">Check Your Balance</button>
    </form>
    {% endif %}
    {% else %}
    <p> Your one stop solution to all your budgetery needs !</p>
    <a href="/login" class="button">Get Started</a>
    {% endif %}
  </section>
  {% endblock %}
</body>
</html>